# VIM
vim/.netrwhist
vim/backup/*
vim/swp/*
vim/viminfo
vim/view/*

# Config
config/GIMP/
config/Jaspersoft Studio/
config/QtProject.conf
config/Slack
config/Trolltech.conf
config/VirtualBox/
config/autorandr/*/setup
config/awesome/*.png
config/awesome/*.xcf
config/chromium/
config/composer/
config/configstore/bower-github.json
config/configstore/bower-github.yml
config/configstore/update-notifier-generator-hubot.json
config/configstore/update-notifier-npm-check-updates.json
config/configstore/update-notifier-npm.json
config/configstore/update-notifier-npm.json
config/configstore/yo.json
config/dconf/user
config/doctl/
config/gcloud/
config/gh/config.yml
config/gimp-2.8/
config/gscan2pdfrc
config/gtk-2.0/gtkfilechooser.ini
config/hub
config/inkscape/
config/ipython/profile_default/
config/k3d/
config/keepassxc/
config/libreoffice/
config/menus/
config/obs-studio/
config/pagraphcontrol/
config/pavucontrol.ini
config/pgcli/history
config/pgcli/log
config/pulse/
config/spotify/
config/teamviewer/
config/vim/spell/
config/vlc/
config/x11vnc/passwd
config/xbuild/
config/zoomus.conf
config/zsh/.zcompdump

# SSH
ssh/id_*
ssh/known_hosts
ssh/authorized_keys
ssh/master-*
ssh/*.pem
ssh/google*
