[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/SimpylFold"]
	path = vim/bundle/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "config/tmux/tmux-yank"]
	path = config/tmux/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "config/tmux/tmux-cluster"]
	path = config/tmux/tmux-cluster
	url = git@github.com:davidscholberg/tmux-cluster.git
[submodule "vim/dbext"]
	path = vim/dbext
	url = git@github.com:vim-scripts/dbext.vim.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/zsh-vimode-visual"]
	path = zsh/zsh-vimode-visual
	url = git@github.com:b4b4r07/zsh-vimode-visual.git
[submodule "vim/bundle/vim-http-client"]
	path = vim/bundle/vim-http-client
	url = git@github.com:aquach/vim-http-client.git
