[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/SimpylFold"]
	path = vim/bundle/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "vim/bundle/vim-terraform"]
	path = vim/bundle/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "zsh/spaceship-prompt"]
	path = zsh/spaceship-prompt
	url = git@github.com:Duologic/spaceship-prompt.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/bundle/vim-jsonnet"]
	path = vim/bundle/vim-jsonnet
	url = git@github.com:google/vim-jsonnet.git
[submodule "config/awesome/awesome-wm-widgets"]
	path = config/awesome/awesome-wm-widgets
	url = git@github.com:streetturtle/awesome-wm-widgets.git
[submodule "config/awesome/net_widgets"]
	path = config/awesome/net_widgets
	url = git@github.com:pltanton/net_widgets.git
[submodule "vim/bundle/vim-ripgrep"]
	path = vim/bundle/vim-ripgrep
	url = git@github.com:jremmen/vim-ripgrep.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-mdpreview"]
	path = vim/bundle/vim-mdpreview
	url = git@github.com:Duologic/vim-mdpreview.git
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = git@github.com:ap/vim-css-color.git
[submodule "vim/bundle/vim-checklist"]
	path = vim/bundle/vim-checklist
	url = git@github.com:evansalter/vim-checklist.git
