# VIM
vim/.netrwhist
vim/backup/*
vim/swp/*
vim/viminfo

# Config
config/chromium/
config/menus/
config/ipython/profile_default/
config/pulse/
config/x11vnc/passwd
config/xrandr/default.sh
config/zsh/.zcompdump

# SSH
ssh/id_rsa
ssh/id_rsa.pub
ssh/known_hosts
ssh/authorized_keys
