Debauchee/Barrier.conf
GIMP/
Jaspersoft Studio/
Mumble/
QtProject.conf
Slack
SonoBus.settings
Trolltech.conf
VirtualBox/
autorandr/*/setup
awesome/*.png
awesome/*.xcf
chromium/
composer/
configstore/
dconf/user
doctl/
gcloud/
gimp-2.8/
gpick/
gscan2pdfrc
gtk-2.0/gtkfilechooser.ini
helm/
hub
inkscape/
ipython/profile_default/
jami/
k3d/
keepassxc/
libreoffice/
linode-cli
menus/
obs-studio/
pagraphcontrol/
pavucontrol.ini
pgcli/history
pgcli/log
pulse/
spotify/
teamviewer/
vim/spell/
vlc/
x11vnc/passwd
xbuild/
zoomus.conf
zsh/.zcompdump
